@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'StolzlRegular';
    src: url('./fonts/stolzl_regular.otf') format('woff2');
}

@font-face {
    font-family: 'StolzlLight';
    src: url('./fonts/stolzl_light.otf') format('woff2');
}

@font-face {
    font-family: 'StolzlMedium';
    src: url('./fonts/stolzl_medium.otf') format('woff2');
}

@font-face {
    font-family: 'StolzlThin';
    src: url('./fonts/stolzl_thin.otf') format('woff2');
}

@font-face {
    font-family: 'StolzlBold';
    src: url('./fonts/stolzl_bold.otf') format('woff2');
}





html, body {
    overflow-x: hidden;
    height: 100%; /* Убедитесь, что высота установлена */
    color: #404040
}