.banner {
    @apply max-[800px]:h-[200px] max-[500px]:h-[150px];
    &_description {
        @apply max-[1000px]:ml-[50px] max-[700px]:ml-[30px] max-[700px]:mr-[30px] max-[500px]:ml-[15px] max-[500px]:mr-[15px];
        &__title {
            @apply max-[1000px]:text-[30px] max-[1000px]:leading-[35px] max-[1000px]:max-w-[400px] max-[700px]:text-[25px] max-[700px]:leading-[30px];
            @apply max-[500px]:max-w-[270px] max-[500px]:text-[20px] max-[500px]:leading-[25px];
        }
        &__btnBuy {
            @apply max-[500px]:px-7 max-[500px]:py-2  ;
        }
    }
}

.hits {
    &_btnAll {
        @apply relative text-[#0c480c] overflow-hidden transition-all duration-300;
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: -100%;
            width: 100%;
            height: 1px;
            background: #508b50;
            transition: all 0.3s ease;
        }
        &:hover {
            @apply text-[#508b50];
        }
        &:hover::before {
            left: 0;
        }
    }
}