.swiperPaginationBullet {
    cursor: pointer;
    display: block;
    background: #FFF ;
    width: 9px;
    height: 9px;
    border-radius: 50%;
}

.swiperPaginationBulletActive {
    display: block;
    background-color: transparent;
    width: 16px;
    height: 16px;
    border: 1px solid #FFF;
    border-radius: 50%;
}

.carousel {
    box-shadow: 0px 5px 20px 0px rgba(158, 158, 158, 1);
    border-radius: 10px;
}

.carousel_info{
    @apply flex-col gap-[30px] absolute top-[50%] translate-y-[-50%] ml-10 text-[#FFF];
}

@media (max-width: 900px) {
    .carousel_info {
        @apply gap-[10px] bottom-[-17px] left-[-30px] top-auto ;
    }
    .swiperPaginationBullet{
        width: 4px;
        height: 4px;
    }
    .swiperPaginationBulletActive{
        width: 7px;
        height: 7px;
    }
}