.header {
    &_search {
        @apply items-center relative w-[30px] h-[40px];
        transition: all 0.5s ease;
        &_active{
            width: 300px;
        }
        &Body {   
            position: absolute;
            left: 0;
            top: 0;

            transform: translateX(-180%);
            z-index: -1;
            visibility: hidden;
            opacity: 0;
            transition: all 0.5s ease;
            @apply items-center py-[5px] px-[10px] border-b border-[#797979] text-[#797979] ;
            input {
                @apply outline-0 w-[200px] px-[5px] pb-[2px] bg-none;
            }
            ::placeholder {
                @apply text-[#797979];
            }
           &_active {
                width: 300px;
                height: 40px;
                z-index: 1;
                visibility: visible;
                opacity: 1;
                transform: translateX(0);
           }
        }
    }
}